<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sdla_quiz">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".NoteAddNoteActivity"
            android:label="@string/title_activity_note_add_note"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity android:name=".NoteViewNoteActivity" />
        <activity android:name=".NoteBrowseNotesActivity" />
        <activity android:name=".NoteMenuActivity" />
        <activity android:name=".VideoViewVideosActivity" />
        <activity android:name=".VideoBrowseVideosActivity" />
        <activity android:name=".VideoNewVideoActivity" />
        <activity android:name=".VideoMenuActivity" />
        <activity android:name=".FlashcardDeleteFlashcardActivity" />
        <activity android:name=".FlashcardNewFlashcardActivity" />
        <activity android:name=".FlashcardMenuActivity" />
        <activity android:name=".FlashcardViewFlashcardActivity" />
        <activity android:name=".SubjectsDeleteSubjectActivity" />
        <activity android:name=".SubjectsNewSubjectActivity" />
        <activity android:name=".SubjectsMenuActivity" />
        <activity android:name=".QuizCreateQuestionActivity" />
        <activity android:name=".QuizActivity" />
        <activity android:name=".QuizMenuActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>